
.title {
  margin: 0;
  text-align: center;
  background-color: burlywood;
  color: blue;
  padding: 0.5cm;
  text-shadow: 1px 1px 2px lightblue;
}

.menu {
  display: block;
  position: absolute;
  top: 13px !important;
}

.navicon {
  width: 45px;
  fill: blue;
  opacity: .2;
}

.navicon:hover{
  opacity: 1;
  cursor: pointer;
}

.map {
  margin: 0;
  width: 85%;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.text-input {
  width: 15%;
  background-color: darkolivegreen;
  height: 100vh;
}

.text-input input {
  width: 100%;
  line-height: 0.8cm;
  padding: 8px 0;
  border: 1px solid #f5f5f5;
  font-size: 15px;
  font-weight: bolder;
  color: darkgrey;
  background-image: url('http://i47.tinypic.com/r02vbq.png');
  background-repeat: no-repeat;
  background-position: left center;
  outline: 0;
}

.text-input ul {
  list-style-type: none;
  padding-left: 0;
}

.text-input li {
  text-decoration: none;
  border-bottom: 2px solid white;
  color: white;
  line-height: 2em;
}

.text-input li:hover {
  cursor: pointer;
}


.error {
  color: red;
}

@media screen and (max-width: 800px) {

  .text-input{
    width: 35%;
    z-index: 9999;
    display: block;
    position: absolute;
  }  

  .map {
    margin: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
}

@media screen and (max-width: 400px) {
  .title{
    padding-left: 35px;
  }
}
li:focus {
  background-color: #9f8ef9;
}
